# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
psycopg2

Flask
requests
beautifulsoup4


# ----------------------
# Production Server
# ----------------------
gunicorn

