{% extends "base.html" %}

{% block main %}
    <h2>Wishlist</h2>
    {% include 'flash_messages.html' %}
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#newItem">New Item</button>
    <hr/>
    {% for item in items %}
        <div class="item">
        <form  action="{{ url_for('removeitem', userid=current_user.get_id(), itemid=item.id) }}" method="delete">
            <button type="submit" name="submit"  class="close">&times;</button>
        </form>
            <div class="item-title"><strong>{{ item.title }}</strong></div><br/>
            <div class="item-description">{{ item.description }}</div><br/>
            <div class="item-webaddress">{{ item.webaddress }}</div>

        </div>
    {% endfor %}
    {% raw %}

    {% endraw %}
    <!-- Modal -->
    <div class="modal fade" id="newItem" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Item</h4>
                </div>
                <form action="{{ url_for('wishlist',userid=current_user.get_id()) }}" method="post">
                    <div class="modal-body">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.title.label }}
                            {{ form.title(class='form-control', placeholder="Enter item title") }}
                        </div>
                        <div class="form-group">
                            {{ form.description.label }}
                            {{ form.description(class='form-control', placeholder="Enter item descripton") }}
                        </div>
                        <div class="form-group">
                            {{ form.webaddress.label }}
                            {{ form.webaddress(class='form-control', placeholder="Enter url here") }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="submit" class="btn btn-primary btn-block">Add Item</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}